body {
  height: 100vh;
  width: 100vw;
}

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-buttons-container {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile-button,
.edit-profile-button {
  margin: 5px 0 0 0;
  background-color: #70f7c8;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 12px 10px;
  font-size: 1.4rem;
}

.profile-button {
  width: 200px;
}

.edit-profile-button {
  width: 100px;
}

.profile-info {
  margin-top: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-info p {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .profile-info {
    align-items: center;
  }

  .profile-info p:last-child {
    font-style: italic;
  }
}
