html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  color: rgb(53, 52, 52);
}

.buttons {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(163, 156, 156, 0.76);
  width: 112px;
  height: 60px;
  font-size: 1.6rem;
}

a:hover {
  color: #70f7c8;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 1.8rem;
}

textarea {
  font-size: 1.6rem;
  padding: 5px 0px 5px 5px;
}

.not-logged-in-link {
  color: grey;
  font-weight: 700;
}

/* Sign Up and Login button */
.form-button,
.warning-button,
.delete-button {
  padding: 15px;
  width: 200px;
  margin: 30px auto 10px auto;
  border-radius: 10px;
  font-size: 1.6rem;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.603);
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.603);
  letter-spacing: 1px;
}

.form-button {
  color: rgb(53, 52, 52);
  background-color: #70f7c8;
}

input {
  padding: 5px 0px 5px 5px;
}

/* Buttons */

.button-container {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 30px;
}

/* *************************************** */
/* html,
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

nav.navbar {
  display: flex;
  padding: 0px 20px;
  background: #686de0;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
} */
