html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  color: rgb(53, 52, 52);
  position: relative;
}

.full-page {
  position: relative;
  height: 100vh;
  min-height: 100vh;
}

.buttons {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(175, 169, 169, 0.76);
  width: 112px;
  height: 60px;
  font-size: 1.6rem;
}

a {
  color: rgb(22, 20, 20);
}

.no-posts > a {
  font-weight: 500;
  text-decoration: underline;
}

a:hover {
  color: #70f7c8;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 1.7rem;
}

textarea {
  font-size: 1.6rem;
  padding: 5px 0px 5px 5px;
  border-radius: 5px;
}

.not-logged-in-link {
  color: grey;
  font-weight: 700;
}

/* Sign Up and Login button */
.form-button,
.warning-button,
.delete-button {
  padding: 15px;
  width: 200px;
  margin: 30px auto 10px auto;
  border-radius: 10px;
  font-size: 1.6rem;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.603);
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.603);
  letter-spacing: 1px;
}

.form-button {
  color: rgb(53, 52, 52);
  background-color: #70f7c8;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.asterisk {
  color: red;
}

input {
  padding: 5px 0px 5px 5px;
}

/* Buttons */
.button-container {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 30px;
}

.card-button {
  padding: 7px;
  width: 110px;
  border-radius: 10px;
  font-size: 1.4rem;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.603);
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.603);
  letter-spacing: 1px;
  margin: 0 auto;
}

.edit-card-button {
  background-color: #70f7c8;
  color: rgb(53, 52, 52);
}

.delete-card-button {
  background-color: #f86464;
  color: whitesmoke;
}

/* MyFavorites and MyPosts pages */
.no-posts {
  width: 76%;
  margin: 0 auto;
}

.my-posts-container,
.my-travellog-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.my-posts-header,
.my-travellog-header {
  margin: 20px;
  text-align: center;
}

.travel-card,
.travel-log {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Edit forms */
.edit-form-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 20px 0;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 20px 0px 20px;
}

.travel-log-form-height {
  height: 650px;
}

.post-form-height {
  height: 800px;
}

.edit-form > label {
  font-size: 1.6rem;
}

.edit-form > input {
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1.6rem;
}

.image-label {
  margin: 15px 0 0 0;
}

#image-upload {
  border: none;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .edit-form {
    margin: 10px 100px 0px 100px;
  }
}

@media (min-width: 1440px) {
  .edit-form {
    margin: 10px 200px 0px 200px;
  }
}

/* sign up and login  */
.sign-up-login-background {
  background: linear-gradient(267deg, #70f7c8, #ffffff);
  padding: 20px;
}

.sign-up-login-body {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(73, 70, 70, 0.685);
  border-radius: 10px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .sign-up-login-body {
    margin: 20px 100px;
  }
}

@media (min-width: 1024px) {
  .sign-up-login-body {
    margin: 20px 155px;
  }
}

@media (min-width: 1440px) {
  .sign-up-login-body {
    margin: 20px 300px;
  }
}
